# ----------------- #
# Video TX settings #
# ----------------- #
  ENABLE_TX=YES
# ----------------- #
CODEC_TX=H264
MODE=WEBCAM #VIDEO, WEBCAM
DEVICE=4 #Webcam device number
VIDEO_NAME=gestoosvid.mp4
WIDTH=1280
HEIGHT=720


# ----------------- #
# Video RX settings #
# ----------------- #
  ENABLE_RX=NO
# ----------------- #
CODEC_RX=H264
SINK_MODE=fpsdisplaysink

# ------------- #
# H264 SETTINGS #
# ------------- #
THREADS=0
BITRATE=3000
TUNE=zerolatency
SPEED_PRESET=fast
KEY_INT_MAX=30
QP_MIN=8
QP_MAX=51
QP_STEP=1
CONFIG_INTERVAL=0 
MTU=1200 
NAME=pay0

# ------------- #
# JPEG SETTINGS #
# ------------- #
QUALITY=90

# ---------------- #
# Network settings #
# ---------------- #
IP_TX=10.236.24.39
PORT_TX=8554
PORT_RX=5544
